/*projects card holder*/ /*projectslist.js*/
div.project-cards-holder, div.project-wrapper{
  font-size: 15px;
}
div.project-cards-holder, div.project-wrapper{
  font-size: 15px;
}
div.project-cards-holder{
  width: 800px;
  column-count: 2;
  margin: 10px auto;
}
div.project-cards-holder-empty{
  width: 800px;
  margin: 10px auto;
}
div.project-cards-holder div.project-card{
  width: 100%;
  margin: 0 0 20px;
  transition: all 0.3s;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.25);
  background-color: #fcfcff;
}
div.project-cards-holder div.project-card div.project-card-options div.options-list{
  box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.25);
}

div.project-cards-holder div.project-card:hover h3{
  text-decoration: underline;
}

div.project-cards-holder div.project-card h3{
  text-align: center;
  font-size: 20px;
  margin: 10px auto 10px auto;
  width: 370px;
}
div.project-cards-holder div.project-card p.description{
  margin: 0px auto 5px auto;
  padding: 0px 10px 0px 10px;
  word-wrap: break-word;
  hyphens: auto;
}
div.project-cards-holder div.project-card div.project-dates{
  display: flex;
  margin: 0px 10px 10px 10px;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 300;
}

div.project-cards-holder div.project-card div.project-dates p{
  padding: 0px;
  margin: 0px;
}
div.project-cards-holder div.project-card div.project-dates p i{
  font-size: 10px;
}

div.project-cards-holder div.project-card-options{
  display: block;
}

/*add project button*/ /*projectslist.js*/
button.add-project-btn div.btn-icon{
  background-image: url('./../img/add.svg');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

/*add project form*/ /*projectslist.js*/
form.add-project{
  font-size: 14px;
  padding: 20px 30px 10px 30px;
  width: 400px;
  text-align: center;
}
form.add-project input[type="text"] {
	font-size: 21px;
	font-weight: bold;
  text-align: center;
  line-height: 28px;
}
form.add-project button[type=submit]{
  font-size: 18px;
  margin: 10px auto 10px auto;
  padding: 10px 10px 10px 10px;
}
form.add-project input{
  margin-bottom: 15px;
  width: 100%;
}
form.add-project textarea{
  margin-bottom: 15px;
  height: 100px;
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  border: 0px;
  border-bottom: solid 1px black;
  color: black;
  resize: none;
}

/*add csv papers button*/ /*projectpage.js*/
button.add-csv-papers-btn div.btn-icon{
  background-image: url('./../img/papers.svg');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

/*add csv papers form*/ /*projectpage.js*/
form.add-csv-papers{
  font-size: 14px;
  padding: 20px 30px 10px 30px;
  width: 650px;
  min-height: 300px;
}
form.add-csv-papers h2{
  margin: 0px auto 5px auto;
  text-align: center;
}
form.add-csv-papers p{
  font-size: 16px;
}
form.add-csv-papers p span{
  font-weight: 100;
  font-style: italic;
}
form.add-csv-papers div.field-input-row{
  display: flex;
  justify-content: space-between;
}
form.add-csv-papers div.field-input-row div.field-input-holder{
  display: flex;
  width: 48%;
  justify-content: space-between;
}
form.add-csv-papers div.field-input-row div.field-input-holder label{
  padding-top: 4px;
} 
form.add-csv-papers input[type="text"] {
  width: 200px;
  margin-bottom: 15px;
  font-weight: lighter;
}
form.add-csv-papers button.file-input{
  font-size: 18px;
  margin: 10px auto 10px auto;
  padding: 10px 10px 10px 10px;
  display: inherit;
}


/*small navigation links*/ /*projectpage.js*/
div.project-nav-link-wrapper{
  position: relative;
  width: 680px;
  margin: auto;
}
div.project-nav-link-wrapper div.nav-link{
  position: relative;
  display: inline-block;
  height: 40px;
}
div.project-nav-link-wrapper div.nav-link a{
  display: inline-block;
  width: 170px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
}
div.project-nav-link-wrapper div.underline{
  background-color: black;
  position: absolute;
  width: 130px;
  height: 2px;
  bottom: 0px;
  border-radius: 1px 1px 0px 0px;
  left: 20px;
  transition: all 0.4s ease-in-out;
}

/*list and description components*/ /*projectpage.js*/
div.paper-card-holder div.order{
  display: flex;
  flex-direction: row;
  height: 20px;
  padding: 0px 0px 0px 10px;
}
div.paper-card-holder div.order label{
  font-weight: 300;
  margin-right: 5px;
  margin-left: 20px;
}
div.paper-card-holder div.order button{
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
div.paper-card-holder div.order button svg#order-arrow{
  height: 80%;
  margin: 10%;
}
div.paper-card-holder{
  width: 700px;
  z-index: 10;
}
div.centerd-wrapper{
  margin: 0 auto;
}

div.project-description{
  text-align: justify;
  font-weight: 300;
  word-wrap: break-word;
  hyphens: auto;
  color: #2f2f2f;
  display: flex;
  flex-flow: column;
  width: 300px;
}
div.project-description p{
  margin: 0px;
}
div.project-description p.project-date-info{
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
div.project-description p.project-date-info span.date{
  font-weight: 300;
}
div.hidden-form-description form.edit-project-description button{
  opacity: 0.0;
}
div.hidden-form-description:hover form.edit-project-description button{
  opacity: 1.0;
}
div.project-description button.edit-button{
  position: absolute;
  right: 0px;
  top: 15px;
  width: 25px;
  height: 25px;
}
div.project-description form.edit-project-description textarea{
  height: 200px;
  font-size: 15px;
  font-family: inherit;
  background-color: transparent;
  border: 0px;
  border-bottom: solid 1px black;
  color: black;
  resize: none;
  overflow-wrap: normal;
  word-wrap: normal;
}

div.project-description div.collaborator-wrapper{
  display: flex;
  justify-content: space-between;
  height: 20px;
}
div.project-description div.collaborator-wrapper button.remove-btn{
  height: 20px;
  width: 20px;
  opacity: 0.0;
}
div.project-description div.collaborator-wrapper:hover button.remove-btn{
  opacity: 1.0;
}
div.project-description div.collaborator-wrapper button.remove-btn svg#remove-button{
  height: 12px;
  width: 12px;
  margin: 4px;
}

div.project-description form.add-collaborator{
  width: 100%;
  position: relative;
  margin-top: 6px;
}
div.project-description form.add-collaborator input[type=text]{
  width: 100%;
  line-height: 22px;
  font-size: 17px;
}
div.project-description form.add-collaborator button.add-collaborator-button{
  background-image: url('./../img/add.svg');
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-color: white;
  right: 0px;
  top: 0px;
  height: 28px;
  width: 29px;
}
div.project-description svg#loading-icon{
  margin-top: 160px;
  width: 60px;
}

div.project-description h2{
  margin: 15px 0px 10px 0px;
}
div.project-description h2:first-child{
  margin: 15px 0px 10px 0px;
}

/*forbidden page*/
div.forbidden-wrapper{
  text-align: center;
  position: relative;
  width: 600px;
  margin: 50px auto 50px auto;
}
div.forbidden-wrapper svg#forbidden{
  width: 300px;
}
div.forbidden-wrapper p{
  font-size: 26px;
  font-weight: lighter;
}

/*filters page*/
div.filters-wrapper{
  margin-top: 25px;
}
div.form-filter-wrapper{
  width: 350px;
}

div.filter-card{
  margin-bottom: 20px; 
}
div.filter-card h3{
  font-size: 25px;
  margin: 0px 20px 5px 0px;
}
div.filter-card div.answer{
  font-size: 17px;
  margin: 1px 0px 1px 0px;
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
  width: 96%;
}
div.filter-card div.answer > p{
  display: inline-block;
  font-weight: lighter;
  margin: 0px;
}
div.filter-card div.answer > p > span{
  display: inline-flex;
  margin-right: 4px;
  font-weight: normal;
  justify-content: space-between;
  width: 68px;
}
div.filter-card div.answer > p > span > span{
  display: inline-block;
}

form.update-filter-card{
  margin-top: 25px;
  border: solid 1px #808080;
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px 25px 20px 25px;
  text-align: center;
  transition: all 0.3s;
}
form.update-filter-card button.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}
form.update-filter-card button.close-btn svg#close-button{
  width: 70%;
  height: 70%;
  margin: 15% auto;
}
form.update-filter-card input[type=text]{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  transition: all 0.3s;
  margin-bottom: 15px;
  border-bottom: solid 1px black;
}
form.update-filter-card div.textareas-description-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px auto 5px auto;
}
form.update-filter-card div.textareas-description-wrapper div{
  width: 48%;
  text-align: left;
  padding-left: 6px;
  font-weight: normal;
}
form.update-filter-card div.textareas-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
form.update-filter-card textarea{
  resize: none;
  width: 48%;
  font-size: 15px;
  font-weight: lighter;
  height: 100px;
  transition: all 0.3s;
  margin-bottom: 7px;
  border-bottom: solid 1px black;
}
form.update-filter-card button[type=submit]{
  margin-top: 12px;
  border: solid 1px #acacac;
  padding: 10px 25px 10px 25px;
  font-size: 18px;
  transition: all 0.3s;
}
form.update-filter-card button:hover{
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.25);
}

form.add-filter{
  margin-top: 25px;
  border: solid 1px #acacac;
  border-radius: 15px;
  padding: 20px 25px 20px 25px;
  text-align: center;
  transition: all 0.3s;
  background-color: white;
}
form.add-filter:focus-within{
  border: solid 1px #808080;
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.3);
  background-color: #fcfcff;
}
form.add-filter input, form.add-filter textarea{
  color: #2f2f2f;
  transition: all 0.3s;
  width: 100%;
  border-bottom: solid 1px #6c6c6c;
}
form.add-filter input[type=text]{
  font-size: 17px;
  height: 30px;
  margin-bottom: 15px;
}
form.add-filter textarea{
  resize: none;
  font-size: 16px;
  height: 100px;
  margin-bottom: 7px;
}
form.add-filter:focus-within input[type=text], form.add-filter:focus-within textarea{
  border-bottom: solid 1px black;
  color: black;
}
form.add-filter button{
  margin-top: 12px;
  border: solid 1px #c4c4c4;
  padding: 10px 25px 10px 25px;
  font-size: 18px;
  transition: all 0.3s;
}
form.add-filter button:hover{
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.25);
}
form.add-filter:focus-within button{
  border: solid 1px #acacac;
}

/*search-automated*/
div.search-automated-right-wrapper{
  width: 280px;
}
div.search-automated-right-wrapper div.search-automated-description{
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  margin: 35px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  border-top: solid 1px #acacac;
  border-bottom: solid 1px #acacac;
}
div.search-automated-right-wrapper div.search-automated-description p{
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0px 0px 5px 0px;
}
div.search-automated-right-wrapper div.search-automated-description a{
  display: inline-block;
  text-align: center;
  line-height: 20px;
  border-bottom: 1px dotted #696969;
}
div.search-automated-right-wrapper div.filters-holder h2{
  margin: 15px 0px 5px 0px;
}
div.search-automated-right-wrapper div.filters-holder div.side-filters-wrapper{
  position: relative;
  min-height: 50px;
}
div.search-automated-right-wrapper div.filters-holder p.filter-predicate{
  margin: 5px 0px 5px 0px;
}
div.search-automated-right-wrapper div.filters-holder p.filter-predicate i{
  color:#696969;
}
div.search-automated-right-wrapper div.filters-holder a{
  margin: 10px 0px 0px 0px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  font-weight: 300;
}
