/*right side filters*/
div.right-side-wrapper.filters{
  width: 280px;
}
div.right-side-wrapper.filters h2{
  font-size: 22px;
  margin: 5px 0px 5px 0px;
}
div.right-side-wrapper.filters div.filters-list{
  border: solid 1px #2f2f2f;
  border-radius: 5px;
  overflow: hidden;
}
div.filters-list button{
  width: 100%;
  padding: 5px 3px 5px 5px;
  text-align: left;
  font-size: 18px;
  border-top: solid 1px #808080;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
}
div.filters-list button span{
  width: 240px;
}
div.filters-list button svg#plus-icon{
  width: 19px;
}
div.filters-list div.filter:first-child button{
  border: none;
}
div.filters-list div.filter-data{
  font-size: 12px;
  padding: 0px;
  overflow: hidden;
  transition: all 0.3s linear;
  margin: 0px 5px 0px 5px;
}
div.filters-list div.filter-data p.criteria-type{
  margin: 0px;
}
div.filters-list div.filter-data p.criteria-type:first-child{
  padding-top: 4px;
  border-top: solid 1px #acacac;
}
div.filters-list div.filter-data p.criteria-description{
  font-weight: 300;
  margin: 0 0 0.4em 0;
}
/*right-side tags*/
div.right-side-wrapper.tags-holder{
  width: 280px;
  display: flex;
  flex-wrap: wrap;
}
div.right-side-wrapper.tags-holder div.tags-wrapper{
  width: 100%;
}
/*paper*/
div.s-paper{
  width: 660px;
  margin-top: 15px;
  min-height: 200px;
}
div.s-paper h2.paper-title{
  font-size: 26px;
  margin: 5px 0px 0px 0px;
}
div.s-paper div.paragraph{
  font-size: 18px;
  position: relative;
}
div.paragraph div.paragraph-head{
  display: block;
  width: 100%;
  text-align: right;
  height: 18px;
  line-height: 10px;
}
div.s-paper div.paragraph button{
  text-decoration: underline;
  opacity: 0.0;
  transition: all 0.3s;
  font-size: 13px;
  line-height: 15px;
  height: 15px;
  margin: 0px 0px 5px 0px;
}
/*tags*/
div.tags-wrapper{
  width: 660px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 0px 0px;
  z-index: 100;
}
div.tags-wrapper.to-right{
  margin: 10px 0px 0px 0px;
}
div.tags-wrapper div.tag{
  position: relative;
  font-size: 12px;
  margin: 0px 8px 10px 0px;
  padding: 2px 6px 2px 6px;
  border: solid 1px grey;
  height: 23px;
  border-radius: 3px;
  transition: all 0.2s;
}
div.tags-wrapper div.tag button.delete-tag{
  opacity: 0.0;
  position: absolute;
  right: 3px;
  top: 6px;
  width: 9px;
  height: 9px;
  transition: all 0.2s;
}
div.tags-wrapper div.tag button.delete-tag svg#remove-button{
  width: 9px;
  height: 9px;
  position: absolute;
  top: 0px;
  right: 0px;
}
div.tags-wrapper div.tag:hover{
  padding: 2px 16px 2px 6px;
}
div.tags-wrapper div.tag:hover button.delete-tag{
  opacity: 1.0;
}
form.add-tag{
  position: relative;
  width: 125px;
  height: 23px;
}
form.add-tag input{
  width: 100%;
  height: 100%;
  font-size: 14px;
}
form.add-tag button.add-tag-button{
  background-image: url('./../img/add.svg');
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-color: white;
  right: 0px;
  top: 0px;
  height: 22px;
  width: 24px;
}
form.add-tag div.tag-suggestions{
  position: absolute;
  width: 100%;
  z-index: 101;
  border: solid 1px grey;
  border-top: none;
  overflow: hidden;
  border-radius: 0px 0px 3px 3px;
}
form.add-tag div.tag-suggestions button.tag-suggestion{
  width: 100%;
  text-align: left;
  padding: 0px 5px 2px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: background-color 0.2s;
}
form.add-tag div.tag-suggestions button.tag-suggestion:first-child{
  padding-top: 2px;
}
form.add-tag div.tag-suggestions button.tag-suggestion{
  width: 100%;
  text-align: left;
  padding: 0px 5px 2px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  border-radius: 0%;
  font-weight: 300;
}
form.add-tag div.tag-suggestions button.tag-suggestion span.match{
  font-weight: normal;
}
form.add-tag div.tag-suggestions button.tag-suggestion:hover{
  background-color: #fcfcff;
}
/*single predicate form*/
form.screening-outcome{
  width: 500px;
  margin: 40px auto;
  position: relative;
  background-color: #fcfcff;
}
form.screening-outcome h2.question{
  font-size: 22px;
  margin: 10px 0px 0px 0px;
  text-align: center;
}
div.screening-choice{
  width: 240px;
  margin: 20px auto 0px auto;
  padding: 0px 0px 20px 0px;
}
div.screening-choice div.yes-no-und{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
div.screening-choice div.yes-no-und button{
  height: 60px;
  width: 60px;
  border: solid 1px black;
  border-radius: 50%;
  transition: all 0.5s;
}
p.hl-tip{
  text-align: center;
  margin: 2px 0px 0px 0px;
}
/*multi predicate form*/
div.screening-choice.multi-predicate{
  width: 600px;
  margin: 20px auto 0px auto;
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.screening-choice.multi-predicate div.yes-no-und{
  width: 200px;
  margin: 15px auto 0px auto;
}
p.empty-filters-description{
  width: 100%;
  margin: 60px 0px 0px 0px;
  text-align: center;
  font-size: 18px;
}
form.m-p-form{
  width: 700px;
  margin: 40px auto;
  padding: 15px 20px 5px 20px;
}
form.m-p-form div.filters-nav{
  position: relative;
  font-size: 15px;
}
form.m-p-form div.filters-nav button.filter-btn{
  width: 30px;
  height: 20px;
}
form.m-p-form div.filters-nav div.underline{
  height: 2px;
  width: 26px;
  background: black;
  position: absolute;
  transition: all 0.2s;
}
form.m-p-form div.filter-data{
  margin: 15px 0px 15px 5px;
}
form.m-p-form div.filter-data h2.filter-title{
  margin: 0px 0px 7px 0px;
}
form.m-p-form div.filter-data p.criteria-type{
  margin: 0px 0px 1px 0px;
}
form.m-p-form div.filter-data p.criteria-description{
  margin: 0px 0px 7px 0px;
  font-weight: 300;
}
form.m-p-form div.screening-choice.multi-predicate h3.filter-question{
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  text-align: center;
}
div.m-p-screening-summary{
  text-align: center;
  margin: 15px 10px 0px 10px;
}
div.m-p-screening-summary div.filter-vote-summary{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 0px 5px 0px 5px;
  border-bottom: solid 1px grey;
}
div.m-p-screening-summary div.filter-vote-summary:first-child{
  border-top: solid 1px grey;
}
div.m-p-screening-summary div.filter-vote-summary p{
  margin: 0px 0px 5px 0px;
}
div.m-p-screening-summary button{
  font-size: 18px;
  margin: 20px auto 10px auto;
  padding: 10px 10px 10px 10px;
  border: solid 1px grey;
}
span.highlighted{
  background-color: #fcff48;
}
